<div id="<%= dom_id tutor %>">
  <p>
    <strong>Nome:</strong>
    <%= tutor.nome %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= tutor.endereco %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= tutor.telefone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= tutor.email %>
  </p>

</div>
