<div id="<%= dom_id internamento %>">
  <p>
    <strong>Consulta:</strong>
    <%= internamento.consulta_id %>
  </p>

  <p>
    <strong>Data inicio:</strong>
    <%= internamento.data_inicio %>
  </p>

  <p>
    <strong>Data fim:</strong>
    <%= internamento.data_fim %>
  </p>

  <p>
    <strong>Medicamento:</strong>
    <%= internamento.medicamento %>
  </p>

  <p>
    <strong>Quantidade medicamento:</strong>
    <%= internamento.quantidade_medicamento %>
  </p>

  <p>
    <strong>Obs monitoramento:</strong>
    <%= internamento.obs_monitoramento %>
  </p>

</div>
