<div id="<%= dom_id animal %>">
  <p>
    <strong>Nome:</strong>
    <%= animal.nome %>
  </p>

  <p>
    <strong>Idade:</strong>
    <%= animal.idade %>
  </p>

  <p>
    <strong>Especie:</strong>
    <%= animal.especie %>
  </p>

  <p>
    <strong>Raca:</strong>
    <%= animal.raca %>
  </p>

  <p>
    <strong>Peso:</strong>
    <%= animal.peso %>
  </p>

  <p>
    <strong>Tutor:</strong>
    <%= animal.tutor_id %>
  </p>

</div>
