<div id="<%= dom_id estoque_venda %>">
  <p>
    <strong>Medicamento:</strong>
    <%= estoque_venda.medicamento %>
  </p>

  <p>
    <strong>Preco:</strong>
    <%= estoque_venda.preco %>
  </p>

  <p>
    <strong>Quantidade disponivel:</strong>
    <%= estoque_venda.quantidade_disponivel %>
  </p>

  <p>
    <strong>Quantidade venda:</strong>
    <%= estoque_venda.quantidade_venda %>
  </p>

  <p>
    <strong>Fornecedor:</strong>
    <%= estoque_venda.fornecedor %>
  </p>

</div>
