<div id="<%= dom_id prescricao_medica %>">
  <p>
    <strong>Consulta:</strong>
    <%= prescricao_medica.consulta_id %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= prescricao_medica.data %>
  </p>

  <p>
    <strong>Medicamentos prescritos:</strong>
    <%= prescricao_medica.medicamentos_prescritos %>
  </p>

  <p>
    <strong>Dosagens:</strong>
    <%= prescricao_medica.dosagens %>
  </p>

  <p>
    <strong>Observacao:</strong>
    <%= prescricao_medica.observacao %>
  </p>

</div>
