<div id="<%= dom_id estoque_internamento %>">
  <p>
    <strong>Solicitacao internamento:</strong>
    <%= estoque_internamento.solicitacao_internamento_id %>
  </p>

  <p>
    <strong>Medicamento:</strong>
    <%= estoque_internamento.medicamento %>
  </p>

  <p>
    <strong>Quantidade disponivel:</strong>
    <%= estoque_internamento.quantidade_disponivel %>
  </p>

  <p>
    <strong>Quantidade utilizada:</strong>
    <%= estoque_internamento.quantidade_utilizada %>
  </p>

  <p>
    <strong>Quantidade minima:</strong>
    <%= estoque_internamento.quantidade_minima %>
  </p>

  <p>
    <strong>Fornecedor:</strong>
    <%= estoque_internamento.fornecedor %>
  </p>

</div>
