<%= form_with(model: estoque_internamento) do |form| %>
  <% if estoque_internamento.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(estoque_internamento.errors.count, "error") %> prohibited this estoque_internamento from being saved:</h2>

      <ul>
        <% estoque_internamento.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :solicitacao_internamento_id, style: "display: block" %>
    <%= form.text_field :solicitacao_internamento_id %>
  </div>

  <div>
    <%= form.label :medicamento, style: "display: block" %>
    <%= form.text_field :medicamento %>
  </div>

  <div>
    <%= form.label :quantidade_disponivel, style: "display: block" %>
    <%= form.text_field :quantidade_disponivel %>
  </div>

  <div>
    <%= form.label :quantidade_utilizada, style: "display: block" %>
    <%= form.text_field :quantidade_utilizada %>
  </div>

  <div>
    <%= form.label :quantidade_minima, style: "display: block" %>
    <%= form.text_field :quantidade_minima %>
  </div>

  <div>
    <%= form.label :fornecedor, style: "display: block" %>
    <%= form.text_field :fornecedor %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
