<div id="<%= dom_id consultum %>">
  <p>
    <strong>Veterinario:</strong>
    <%= consultum.veterinario %>
  </p>

  <p>
    <strong>Animal:</strong>
    <%= consultum.animal_id %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= consultum.data %>
  </p>

  <p>
    <strong>Hora:</strong>
    <%= consultum.hora %>
  </p>

  <p>
    <strong>Observacao:</strong>
    <%= consultum.observacao %>
  </p>

</div>
