<div id="<%= dom_id exame %>">
  <p>
    <strong>Consulta:</strong>
    <%= exame.consulta_id %>
  </p>

  <p>
    <strong>Nome exame:</strong>
    <%= exame.nome_exame %>
  </p>

  <p>
    <strong>Status exame:</strong>
    <%= exame.status_exame %>
  </p>

  <p>
    <strong>Resultado:</strong>
    <%= exame.resultado %>
  </p>

</div>
