<%= form_with(model: exame) do |form| %>
  <% if exame.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(exame.errors.count, "error") %> prohibited this exame from being saved:</h2>

      <ul>
        <% exame.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :consulta_id, style: "display: block" %>
    <%= form.text_field :consulta_id %>
  </div>

  <div>
    <%= form.label :nome_exame, style: "display: block" %>
    <%= form.text_field :nome_exame %>
  </div>

  <div>
    <%= form.label :status_exame, style: "display: block" %>
    <%= form.text_field :status_exame %>
  </div>

  <div>
    <%= form.label :resultado, style: "display: block" %>
    <%= form.text_area :resultado %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
