<div id="<%= dom_id funcionario %>">
  <p>
    <strong>Nome:</strong>
    <%= funcionario.nome %>
  </p>

  <p>
    <strong>Contato:</strong>
    <%= funcionario.contato %>
  </p>

  <p>
    <strong>Cargo:</strong>
    <%= funcionario.cargo %>
  </p>

  <p>
    <strong>Login:</strong>
    <%= funcionario.login %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= funcionario.senha %>
  </p>

</div>
