<p style="color: green"><%= notice %></p>

<%= render @funcionario %>

<div>
  <%= link_to "Edit this funcionario", edit_funcionario_path(@funcionario) %> |
  <%= link_to "Back to funcionarios", funcionarios_path %>

  <%= button_to "Destroy this funcionario", @funcionario, method: :delete %>
</div>
